//Color variables
$anchor-color: #ffffff;
$anchor-hover: #000000;
$footer-color: #b8c1e1;
$header-color: #3c54a0;
$btn-color: #ff9000;
$packages-hover: #fdf6ec;

//Font
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$font-main: "Open Sans", sans-serif;
